// .
body {
	background: $mutedGray;
}

// l-
.l-nav {
	@include transition($ease: ease-in);
	display: block;
	width: 100%;
	max-width: $maxRowWidth;
	margin: 0 auto;
	padding: 30px 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(255,255,255,0.8);
	z-index: 10;
	
	// hide elements
	&__mobileUserControl,
	&__menuMobile,
	&__hamburguer,
	&__accDetails {
		display: none;
	}
	
	// visible elements
	&__brand {
		@include flexWidth(135px);
		display: block;
		a, img {
			display: block;
			width: 100%;
		}
	}
	&__search {
		@include flexWidth(460px);
		padding: 0 50px;
	}
	&__contentHero {
		@include scroll();
		flex: 1 1 auto;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: 3;
	}
	&__smallWarn {
		display: block;
		flex: 0 1 auto;
		max-width: 340px;
		padding-right: 30px;
		i {
			@include flexWidth(18px);
			height: 18px;
			* {
				display: block;
				width: 100%;
				height: 18px;
			}
		}
		div {
			@include paragrafos();
			padding-left: 10px;
			display: block;
			flex: 1 1 auto;
		}
	}
	&__menu {
		flex: 1 1 auto;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-end;
		position: relative;
		z-index: 2;
		> li {
			display: block;
			position: relative;
			margin-right: 46px;
			width: min-content;
			min-height: 31px;
			&:after {
				@include spacer();
			}
			&:last-of-type {
				margin-right: 0;
				&:after {
					display: none;
				}
			}
			a {
				@include transition;
				@include paragrafos();
				display: flex;
				flex-direction: row;
				align-items: center;
				align-content: center;
				justify-content: flex-start;
				flex-wrap: wrap;
				white-space: nowrap;
				height: 100%;
				span, strong {
					@include flexWidth(100%);
					@include transition();
					display: block;
					width: 100%;
					white-space: nowrap;
				}
				&.iconLink {
					@include transition();
					@include roundedAll(10px);
					height: 31px;
					width: 31px;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: center;
					img, svg {
						@include transition();
						display: block;
						width: 20px;
						height: 20px;
						object-fit: contain;
					}
					&:hover {
						background: $white3;
						svg {
							path {
								fill: $primary;
							}
						}
					}
					&.--acc {
						img, svg {
							width: 20px;
							height: 21px;
						}
					}
				}
				&:hover {
					color: $secondary;
					span, strong {
						color: $secondary !important;
					}
				}
			}
		}
	}
	
	// utilites / states
	&__maskMenu {
		&.maskAll,
		&.maskMenu {
			@include u-hideElement();
			z-index: 2;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 100%;
			min-height: 100vh;
			display: block;
			background: rgba(0,0,0,0.15);
			&.is-active {
				@include u-showElement();
			}
		}
		&.maskMenu {
			z-index: 1;
		}
	}
	&.hidden {
		top: -300px;
	}
	&.scrolled {
		padding: 15px 0;
		.c-hamburguer {
			&.is-active {
				margin-top: 5px;
			}
		}
	}
	&.--userOn {
		.--userOff {
			display: none !important;
		}
	}
	&.--userOff {
		.--userOn {
			display: none !important;
		}
	}
}






.l-footer {
	background: $primaryDark;
	padding: 30px 0;
}
.l-headerHome {
	background: $secondaryLight;
	.swiper-slide {
		position: relative;
		display: block;
		height: 250px;
	}
}
.l-headerInner {
	display: block;
	background: $primaryLight;
	padding: 100px 0;
	h1 {
		color: $secondary;
	}
}

// s-
.s-onlyText {
	p {
		@include paragrafos();
	}
	ol, ul {
		margin-bottom: 20px;
		li {
			display: list-item;
			list-style-position: inside;
			@include paragrafos($mb: 10px);
		}
	}
	ol {
		li {
			list-style-type: decimal-leading-zero;
		}
	}
	ul {
		li {
			list-style-type: disc;
		}
	}
	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 10px;
	}
}

// #page
#page__components {
	padding: 60px 50px;
	.gridComponent {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
	}
	.component {
		@include roundedAll(10px);
		flex: 1 1 auto;
		max-width: 380px;
		min-width: 280px;
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		margin: 10px;
		background: teal;
		.component__header {
			padding: 15px;
			> h2 {
				color: $white;
				font-size: 18px;
			}
		}
		.component__content {
			@include roundedAll(10px);
			display: block;
			padding: 15px;
			background: $white;
			border: 3px solid teal;
			flex: 1 1 auto;
		}
		.content__hero {
			margin-bottom: 15px;
			padding-bottom: 15px;
			border-bottom: 1px solid $mutedGray;
			&:last-of-type {
				margin-bottom: 0;
				padding-bottom: 0;
				border-bottom: 0;
			}
			> h3 {
				color: $baseGray;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 13px;
				margin-bottom: 4px;
			}
			.obs {
				font-size: 14px;
				color: $text;
				display: block;
				width: 100%;
				margin-top: 5px;
				padding-top: 5px;
				border-top: 1px solid $mutedGray;
				strong {
					font-weight: bold;
				}
				u {
					text-decoration: underline;
				}
				i {
					font-style: italic;
				}
			}
		}
	}
	> section {
		margin-bottom: 40px;
		padding-bottom: 40px;
		border-bottom: 1px solid $mutedGray;
		&:last-of-type {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: 0;
		}
		> h1 {
			color: $primary;
			font-size: 24px;
			text-align: center;
			font-weight: bold;
			margin-bottom: 20px;
		}
	}
	
	.subMenuTeste {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		padding: 20px;
	}
}

// p
body.p-home {}
body.p-inner {}