// .
body {
	background: $mutedGray;
}
.swiper-button-prev,
.swiper-button-next {
	@include roundedAll(15px);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	background: $lightGray;
	border: 1px solid $mediumGray;
	margin-top: 0;
	top: 70px;
	svg {
		display: block;
		width: 18px;
		height: 18px;
	}
}
.swiper-button-prev {
	left: -5px;
	svg {
		@include transforms(rotate(90deg), center);
	}
}
.swiper-button-next {
	right: -5px;
	svg {
		@include transforms(rotate(-90deg), center);
	}
}
.swiper-button-disabled {
	display: none !important;
}
.swiper-pagination {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-top: 20px;
	.swiper-pagination-bullet {
		margin: 0 3px;
		&.swiper-pagination-bullet-active {
			background: $primary;
		}
	}
}
.swal-modal {
	@include roundedAll(20px);
	padding: 20px;
	background: $white;
	text-align: left;
	> .u-dnone {
		display: block !important;
	}
}

// m-
.m-defaultModal {
	@include scroll($bar: $primary);
	@include roundedAll(25px);
	@include u-hideElement;
	@include transition();
	@include transforms(translateY(-50%) translateX(-50%), center);
	display: block;
	width: 96%;
	max-width: 520px;
	max-height: 80vh;
	padding: 45px;
	overflow: auto;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 20;
	background: $white;
	&.is-active {
		@include u-showElement;
	}
	&__close {
		display: block;
		width: 11px;
		height: 11px;
		position: absolute;
		top: 20px;
		right: 20px;
		cursor: pointer;
		img, svg {
			display: block;
			width: 11px;
			height: 11px;
		}
	}
	.c-simpleForm {
		margin-top: 10px;
	}
	fieldset {
		display: block;
		margin-bottom: 30px;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	p {
		@include paragrafos($tc: $secondaryLight);
		&.observation {
			padding-top: 12px;
			font-size: 12px;
		}
	}
	h2, h3 {
		display: block;
		font-size: 16px;
		font-weight: $fwLight;
		color: $secondaryLight;
		margin-bottom: 10px;
		strong {
			font-weight: $fwMedium;
		}
	}
}
.m-defaultModal__maskClose {
	@include transition();
	@include u-hideElement;
	display: block;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 19;
	background: rgba(0,0,0,0.25);
	&.is-active {
		@include u-showElement;
	}
}

// l-
.l-nav {
	@include transition($ease: ease-in);
	display: block;
	width: 100%;
	max-width: $maxRowWidth;
	margin: 0 auto;
	padding: 30px 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(255,255,255,0.8);
	z-index: 10;
	
	// hide elements
	&__mobileUserControl,
	&__menuMobile,
	&__hamburguer,
	&__accDetails {
		display: none;
	}
	
	// visible elements
	&__brand {
		@include flexWidth(135px);
		display: block;
		a, img {
			display: block;
			width: 100%;
		}
	}
	&__search {
		@include flexWidth(460px);
		padding: 0 50px;
	}
	&__contentHero {
		@include scroll();
		flex: 1 1 auto;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: 3;
	}
	&__smallWarn {
		display: block;
		flex: 0 1 auto;
		max-width: 340px;
		padding-right: 30px;
		i {
			@include flexWidth(18px);
			height: 18px;
			* {
				display: block;
				width: 100%;
				height: 18px;
			}
		}
		div {
			@include paragrafos();
			padding-left: 10px;
			display: block;
			flex: 1 1 auto;
		}
	}
	&__menu {
		flex: 1 1 auto;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-end;
		position: relative;
		z-index: 2;
		> li {
			display: block;
			position: relative;
			margin-right: 46px;
			width: min-content;
			min-height: 31px;
			&:after {
				@include spacer();
			}
			&:last-of-type {
				margin-right: 0;
				&:after {
					display: none;
				}
			}
			a {
				@include transition;
				@include paragrafos();
				display: flex;
				flex-direction: row;
				align-items: center;
				align-content: center;
				justify-content: flex-start;
				flex-wrap: wrap;
				white-space: nowrap;
				height: 100%;
				span, strong {
					@include flexWidth(100%);
					@include transition();
					display: block;
					width: 100%;
					white-space: nowrap;
				}
				&.iconLink {
					@include transition();
					@include roundedAll(10px);
					height: 31px;
					width: 31px;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: center;
					img, svg {
						@include transition();
						display: block;
						width: 20px;
						height: 20px;
						object-fit: contain;
					}
					&:hover {
						background: $white3;
						svg {
							path {
								fill: $primary;
							}
						}
					}
					&.--acc {
						img, svg {
							width: 20px;
							height: 21px;
						}
					}
				}
				&:hover {
					color: $secondary;
					span, strong {
						color: $secondary !important;
					}
				}
			}
		}
	}
	
	// utilites / states
	&__maskMenu {
		&.maskAll,
		&.maskMenu {
			@include u-hideElement();
			z-index: 2;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 100%;
			min-height: 100vh;
			display: block;
			background: rgba(0,0,0,0.15);
			&.is-active {
				@include u-showElement();
			}
		}
		&.maskMenu {
			z-index: 1;
		}
	}
	&.hidden {
		top: -300px;
	}
	&.scrolled {
		padding: 15px 0;
		background: rgba(255,255,255,0.95);
		.c-hamburguer {
			&.is-active {
				margin-top: 5px;
			}
		}
	}
	&.--userOn {
		.--userOff {
			display: none !important;
		}
	}
	&.--userOff {
		.--userOn {
			display: none !important;
		}
	}
}
.l-headerHome {
	background: $mutedGray;
	display: block;
	position: relative;
	height: 700px;
	&__banner {
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		object-fit: cover;
		object-position: center;
	}
	&__content {
		z-index: 2;
		position: absolute;
		top: 0;
		left: 0;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		height: 100%;
		padding-top: 80px;
	}
	&__companyBrand {
		a, img {
			display: block;
			width: 100%;
			max-width: 140px;
		}
	}
	&__presentation {
		font-weight: $fwLight;
		font-size: 13px;
		color: $black;
		margin-top: 20px;
	}
	&__title {
		display: block;
		font-weight: $fwThin;
		color: $black;
		font-size: 48px;
		line-height: 1.1;
		margin-top: 20px;
		strong {
			font-weight: $fwMedium;
		}
	}
	&__date {
		font-weight: $fwLight;
		font-size: 20px;
		color: $black;
	}
	&__btns {
		margin-top: 15px;
	}
}
.l-innerPage {
	padding-top: 160px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	min-height: 100vh;
	&.u-aic {
		padding-top: 120px;
	}
	> section {
		@include flexWidth(100%);
	}
}

// s-
.s-default {
	margin-bottom: 60px;
	&:last-of-type {
		margin-bottom: 0;
	}
	&__header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		position: relative;
		margin-bottom: 45px;
		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 1px;
			background: $mediumGray;
			position: absolute;
			top: 50%;
			left: 0;
		}
		* {
			z-index: 2;
		}
		.header__title {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			width: 100%;
			position: absolute;
			left: 0;
			right: 0;
			z-index: 1;
			margin: 0 auto;
			h2 {
				background: $mutedGray;
				padding: 0 20px;
				font-weight: $fwLight;
				font-size: 28px;
				line-height: 33px;
				color: $black;
				strong {
					color: $primary;
					font-weight: $fwMedium;
				}
			}
		}
		.header__select {
			@include flexWidth(160px);
			.c-subMenuHover {
				width: 100%;
			}
		}
	}
}
.s-onlyText {
	p {
		@include paragrafos();
	}
	ol, ul {
		margin-bottom: 20px;
		li {
			display: list-item;
			list-style-position: inside;
			@include paragrafos($mb: 10px);
		}
	}
	ol {
		li {
			list-style-type: decimal-leading-zero;
		}
	}
	ul {
		li {
			list-style-type: disc;
		}
	}
	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 10px;
	}
}
.s-galleryLives {
	.s-defaut__content {
		@include calcWidthForPositionNegative(-10px);
	}
	.swiper__galleryLives {
		.swiper-slide {
			padding: 0 10px;
		}
	}
}
.s-activeLives {
	padding-bottom: 30px;
	.c-responsiveGrid {
		@include calcWidthForPositionNegative(-10px);
		> li {
			padding: 10px;
			margin-bottom: 40px;
		}
	}
}

// #page
#page__home {
	padding-top: 40px;
}
#page__components {
	padding: 60px 50px;
	.gridComponent {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
	}
	.component {
		@include roundedAll(10px);
		flex: 1 1 auto;
		max-width: 380px;
		min-width: 280px;
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		margin: 10px;
		background: teal;
		.component__header {
			padding: 15px;
			> h2 {
				color: $white;
				font-size: 18px;
			}
		}
		.component__content {
			@include roundedAll(10px);
			display: block;
			padding: 15px;
			background: $white;
			border: 3px solid teal;
			flex: 1 1 auto;
		}
		.content__hero {
			margin-bottom: 15px;
			padding-bottom: 15px;
			border-bottom: 1px solid $mutedGray;
			&:last-of-type {
				margin-bottom: 0;
				padding-bottom: 0;
				border-bottom: 0;
			}
			> h3 {
				color: $baseGray;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 13px;
				margin-bottom: 4px;
			}
			.obs {
				font-size: 14px;
				color: $text;
				display: block;
				width: 100%;
				margin-top: 5px;
				padding-top: 5px;
				border-top: 1px solid $mutedGray;
				strong {
					font-weight: bold;
				}
				u {
					text-decoration: underline;
				}
				i {
					font-style: italic;
				}
			}
		}
	}
	> section {
		margin-bottom: 40px;
		padding-bottom: 40px;
		border-bottom: 1px solid $mutedGray;
		&:last-of-type {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: 0;
		}
		> h1 {
			color: $primary;
			font-size: 24px;
			text-align: center;
			font-weight: bold;
			margin-bottom: 20px;
		}
	}
	
	.subMenuTeste {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		padding: 20px;
	}
}

// p
body.p-home {}
body.p-inner {}