// l-nav
@media screen and (max-width: 1320px) {
    .l-nav {
        &__search {
            @include flexWidth(380px);
            padding: 0 30px;
        }
        &__menu {
            > li {
                margin-right: 32px;
                &:after {
                    right: -17px;
                }
            }
        }
    }
}
@media screen and (max-width: 1120px) {
    .l-nav {
        &__search {
            @include flexWidth(300px);
        }
    }
}
@media screen and (max-width: 1080px) {
    .l-nav {
        padding: 20px 0;
        .u-containerBig {
            justify-content: center;
        }
        
        // mobile only elements
        &__hamburguer {
            display: block;
            position: absolute;
            left: 15px;
            width: 14px;
            height: 14px;
            .c-hamburguer {
                position: relative;
                &.is-active {
                    right: -250px;
                    top: 10px;
                }
            }
        }
        &__mobileUserControl {
            display: block;
            position: absolute;
            right: 15px;
            .l-nav__menu {
                > li {
                    margin-right: 20px;
                    &:last-of-type {
                        margin-right: 0;
                    }
                    &:after {
                        display: none;
                    }
                }
            }
        }
        &__menuMobile {
            display: block;
            li {
                display: block;
            }
            a {
                @include transition();
                @include paragrafos($tc: $white);
                display: block;
                padding: 20px 0;
                border-bottom: 1px solid $primaryDark;
                &:hover {
                    color: $secondary;
                    border-bottom: 1px solid $secondary;
                    strong {
                        color: $secondary;
                    }
                }
            }
        }
        &__accDetails {
            display: block;
            padding-right: 10px;
        }
        
        // general elements
        &__search {
            display: none;
        }
        &__contentHero {
            @include transition();
            overflow-x: hidden;
            overflow-y: auto;
            display: block;
            padding: 30px 30px 70px 30px;
            background: $primary;
            height: 100vh;
            position: fixed;
            left: -300px;
            top: 0;
            width: 300px;
            max-width: 100%;
            &.is-active {
                left: 0;
            }
            .l-nav__menu {
                display: none;
            }
        }
        &__smallWarn {
            display: block !important;
            width: 100%;
            margin-bottom: 30px;
            margin-top: 30px;
            a, div {
                color: $white !important;
                display: block;
                width: 100%;
                padding-left: 0;
                strong {
                    color: $white !important;
                }
                i {
                    display: none;
                }
            }
        }
        
        // utilites / states
        &__maskMenu.maskAll,
        &__maskMenu.maskMenu {
            background: rgba(0,0,0,0.75);
            &.maskMenu {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 800px) {
    .l-nav {
        padding: 16px 0;
        &__brand {
            @include flexWidth(90px);
        }
    }
}
@media screen and (max-width: 380px) {
    .l-nav {
        .u-containerBig {
            justify-content: space-between;
        }
        &__hamburguer {
            position: relative;
            left: 0;
        }
        &__mobileUserControl {
            position: relative;
            right: 0;
            .l-nav__menu {
                > li {
                    margin-right: 8px;
                }
            }
        }
    }
}