@mixin paragrafos($tc: $text, $fw: $fwLight, $fs: 13px, $lh: 1.15, $mb: 20px, $mbLOT: 0) {
    color: $tc;
    font-size: $fs;
    font-weight: $fw;
    margin-bottom: $mb;
    line-height: $lh;
    &:last-of-type {
        margin-bottom: $mbLOT;
    }
    a {
        color: $tc;
        font-size: $fs;
        font-weight: $fw;
        line-height: $lh;
        &:hover {
            text-decoration: underline;
        }
    }
    strong {
        font-weight: bold;
        color: $tc;
        font-size: $fs;
        line-height: $lh;
    }
    span {
        color: $primary;
        font-size: $fs;
        line-height: $lh;
    }
    @media screen and (max-width: 430px) {
        font-size: $fs - 2;
        a, strong {
            font-size: $fs - 2;
        }
    }
}

@mixin spacer() {
    @include transforms(translateY(-50%), center);
    content: '';
    width: 1px;
    height: 26px;
    display: block;
    position: absolute;
    right: -23px;
    top: 50%;
    background: $mediumGray;
}